#
#
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 17.2.2
#
# Configuration properties for the Predix Machine StoreForward service
#
# Service_PID = com.ge.dspmicro.storeforward
#


# Usage:
#
#       Properties set in this file may use the full property
#       name. For example:
#
#             <service_pid>.<property_key>=<property_value>



# Note:
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format:
#       type character followed by a quoted string representation of value.
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"].
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


# [Required] Unique name of the Store and Forward service.
com.ge.dspmicro.storeforward.name="DefaultStoreForward"

# [Optional] A brief description of the Store and Forward service.
com.ge.dspmicro.storeforward.description="Default store forward"

# [Optional] Data store type. Valid types are "TAPE" and "H2_FILE". Default to "TAPE".
com.ge.dspmicro.storeforward.persistenceType="TAPE"

# [Optional] The duration (in seconds) which the Store and Forward service waits before reading and forwarding data after forward callback returns FAILED. Default to 10 seconds.
com.ge.dspmicro.storeforward.forwardInterval=I"10"

# [Optional] Whether to enable or disable compression in the data store. When this flag is flipped, the old data store if any will not be opened and should be removed. Default to false.
com.ge.dspmicro.storeforward.databaseCompression=B"true"

# [Optional] Whether to enable or disable encryption of the data store. When this flag is flipped, the old data store if any will not be opened and should be removed. Default to false.
com.ge.dspmicro.storeforward.databaseEncryption=B"true"

# [Optional] Auto-generated data store password. Users should not change the password.
com.ge.dspmicro.storeforward.databasePassword=""
com.ge.dspmicro.storeforward.databasePassword.encrypted="qwIkC9MAnJfNyt2Z9J7+ZxrbLzX4im5vAg/8ps2dypSDI/mi99RyQyNXJ5j7DtmhL5+1KhzvtNn5ZwKY5CpiqQ\=\="

# [Optional] Data store encryption password if databaseEncryption is enabled. By default, this is the same as the generated data store password. Users should not change the password.
com.ge.dspmicro.storeforward.encryptionPassword=""
com.ge.dspmicro.storeforward.encryptionPassword.encrypted="onTVd6MoGt220/zZ5ITTSJz1gVuREPvEtIhVvnWqbtJlXSFl+PexCbNrH469ZL+FnNCy5hz4KXdiYkv8lNvI9Q\=\="

# [Optional] Data store size limit at which the Store and Forward service stops writing data to the store. Default to -1, which indicates unlimited storage size.
com.ge.dspmicro.storeforward.dbSizeLimitMB=I"-1"

######################################################################################################################
#### WARNING : Do not change the parameters below this warning unless instructed to do so by GE Customer Support. ####
######################################################################################################################

# [Optional] Maximum number of attempts to dispatch messages before messages are discarded. Default to -1, which indicates unlimited retries.
com.ge.dspmicro.storeforward.maxRetryLimit=I"-1"

# [Optional] [For H2_FILE only] Data store size limit at which writing to the store is resumed after the file size exceeds dbSizeLimitMB value, causing data store writing to be suspended. This value must be less than or equal to the dbSizeLimitMB value. The default value matches the dbSizeLimitMB value.
com.ge.dspmicro.storeforward.dbWriteResumeLimitMB=I"-1"

# [Optional] [For H2_FILE only] Data store size limit at which the Store and Forward service attempts to compact the data store. Default to 1MB.
com.ge.dspmicro.storeforward.dbSizeLimitMBCompact=I"1"

# [Optional] [For H2_FILE only] Defines how frequently the Store and Forward service checks the store size and compacts the store if necessary. Minimum 30 seconds. Default to 60 seconds.
com.ge.dspmicro.storeforward.compactIntervalSec=I"60"

# [Optional] [For H2_FILE only] Percentage of oldest messages to discard when compacting the data store. Default to 0, which indicates no messages will be discarded.
com.ge.dspmicro.storeforward.purgeOnFullPercentage=I"0"
